---
layout: default
---

<div class="home">
  <h1 class="page-heading">Reviews</h1>
  There are so many packages and tools out there!  Which ones should I use?
  <ul class="multicol-list3">
    {% for review in site.categories['reviews'] %}
    {% if review.recommend %}
    <li><a href="{{ review.url | prepend: site.baseurl }}" class="review-name">{{review.name}}</a></dt>
    {% endif %}
    {% endfor %}
  </ul>
  <dl class="annotated-link-list">
    {% for review in site.categories['reviews'] %}
    <dt class="annotated-link-title">
      <a href="{{ review.url | prepend: site.baseurl }}"
         class="review-name {% if review.recommend %} review-recommended {% endif %}">{{review.name}}</a>&nbsp;{% if review.link %}
      <a href="//{{ review.link }}">(homepage)</a>{% else %}
      <a href="//ctan.org/pkg/{{ review.name }}">(CTAN)</a>{% endif %}
      {% if review.recommend %}&nbsp;&ndash;&nbsp;recommended!{% endif %}</dt>
    <dd class="annotated-link-annotation">{{review.summary}}</dd>
    {% endfor %}
  </dl>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
