#TableOfContents {
}
#TableOfContents ul {
    /* padding-left: 0px; */
    /* text-align: right; */
    list-style-type: none;
}
#TableOfContents ul li:not(:last-child) {
    padding-bottom: 1ex;
}
#TableOfContents ul li a {
    text-decoration: none;
}
#TableOfContents ul li a:link {
    color: black;
}
#TableOfContents ul li a:visited {
    color: black;
}
#TableOfContents ul li a:hover {
    color: gray;
}

.cover h2 {
    background-color: rgba(0, 0, 0, 0.3);

}
.cover a {
    color: lightblue;
    text-decoration: none;
}
.cover a:visited {
    color: lightblue;
}
.cover a:hover {
    color: red;
}
footer a {
    color: lightblue;
    text-decoration: none;
}
footer a:visited {
    color: lightblue;
}
footer a:hover {
    color: white;
}

.form {
    min-width: 20em;
    padding: 4em;
    border: #aaa solid 3px;
    background-color: #fafafa;
}

.form * {
    width: 100%;
}

.form input[type="radio"] {
    width: 5%;
}

.form label {
    width: 50%;
    font-weight: 500;
}

.form label:not(:first-child) {
    display: inline-block;
    margin-top: 1ex;
}

.form input[type="text"],input[type="email"] {
    margin-bottom: 1ex;
    padding: 1ex;
}

.form input[type="submit"] {
    margin-top: 4ex;
    background-color: #fff;
    border: #00d solid 4px;
    font-size: larger;
    padding: 2ex;
}
.form input[type="submit"]:hover {
    background-color: #ddd;
}
.form input[type="submit"]:active {
    background-color: #00d;
    color: #fff;
}
