#TableOfContents {
}
#TableOfContents ul {
    /* padding-left: 0px; */
    /* text-align: right; */
    list-style-type: none;
}
#TableOfContents ul li:not(:last-child) {
    padding-bottom: 1ex;
}
#TableOfContents ul li a {
    text-decoration: none;
}
#TableOfContents ul li a:link {
    color: black;
}
#TableOfContents ul li a:visited {
    color: black;
}
#TableOfContents ul li a:hover {
    color: gray;
}

.cover h2 {
    background-color: rgba(0, 0, 0, 0.3);

}
.cover a {
    color: hsla(0,0%,100%,.8);
    text-decoration: none;
}
.cover a:visited {
    color: white;
}
.cover a:hover {
    color: red;
}
