---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} • {% include reading-time.html %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="github-topic-suggestion">
    {% if page.github %}
    This topic was suggested by one of <em>you</em>
    <a href="http://www.github.com/vermiculus/vermiculus.github.io/issues/{{ page.github }}">submitting an idea on GitHub!</a>
    {% else %}
    Did you know you can suggest a topic via the GitHub issue tracker?
    It's easy!
    {% endif %}
    <a href="http://www.github.com/vermiculus/vermiculus.github.io/issues/new">Click here</a> to submit your own idea.
    No GitHub? <a href="http://www.twitter.com/vermiculus">Tweet me.</a>
  </footer>
</div>
